<% content_for(:title, 'About') %>
<h1>About Us</h1>

<p>Hello Hero gives our community of bidders opportunities to live out their dreams and get up close and personal with their favorites heroes.</p>
<p>Whether it’s getting business advice from Bill Gates or exchanging dancing tips with Justin Bieber, we connect bidders like you with the world’s biggest celebrities and heroes alike all through a click of the mouse.</p>
<p>We’re committed to giving you an incredible experience with your heroes. And together, we’re raising needed funds for charities around the world at the same time.</p>
<p>Dream big and make a difference!</p>