<% content_for(:title, 'FAQ') %>
<h2>User FAQ</h2>
<p>
<b>Why do you need my credit card information?</b><br />
Your credit card information is used to verify that you have sufficient credit to fulfill the bid and to charge you in the case your bid is chosen.
<p>

<p>
<b>When will I be charged?</b><br />
You will not charged unless your hero accepts your bid. Once you're chosen, you will be charged.
</p>

<p>
<b>Can I cancel my bid?</b><br />
Yes, you can come back to the site at any time to cancel your bid and submit a new one if your hero has not chosen you yet.
</p>

<p>
<b>How long is my bid good for?</b><br />
Each bid is only good for 30 days. You'll need to submit a new bid if your bid has expired.
</p>

<p>
<b>Can I change my mind after my hero accepts my bid?</b><br />
No, your bid is legally binding once your hero accepts it.
</p>

<p>
<b>How much of my bid will go to charity?</b><br />
95% of the proceeds will go to the charity of your hero's choosing.
</p>

<p>
<b>Why can't I find my hero?</b><br />
Currently, we only support heroes with verified Twitter accounts.
</p>

<p>
<b>How will you reach my hero?</b><br />
We will reach your hero via Twitter and other Marketing and PR methods. Priority is given to heroes with the most or highest bids.
</p>

<p>
<b>How come my hero has not selected a winning bid?</b><br />
Although we can't gurantee your hero will respond, it becomes more likely as more people actively participate.
</p>

<p>
<b>How long will I be able to meet with my hero?</b><br />
If you're selected, you will be guranteed an hour's worth of your hero's time. Anything beyond one hour will be up to your hero's discretion.
</p>

<p>
<b>Do you cover the cost associated with meeting my hero?</b><br />
We'll make sure your hero gets in touch with you once you are selected. However, any additional costs associated with the meeting will be your responsibility.
</p><br />

<h2>Hero FAQ</h2>
<p>
<b>How do I claim my account?</b><br />
<%= link_to('Log in', new_user_session_path) %> with your verified Twitter account, and claim your place as a hero.
</p>

<p>
<b>How do I select the winner?</b><br />
You can accept the top bid at any time.
</p>

<p>
<b>How do I set up the meeting with my fan?</b><br />
Once you claim your account, we will send you the winner's contact info. The rest will be up to you, but accepting a bid means that you agree to meet with your fan in person for at least an hour.
</p>

<p>
<b>How do I choose my charity?</b><br />
Once you choose a winner, we will get in touch with you to get the name of the charity you'd like the funds to be release to.
</p>

