<% content_for(:title, 'Claim a Hero Account') %>
<h1>So you're ready to pick a winner?<h1>

<p class="lead">Here are the steps to finalize the process:</h2>

<ol>
	<li><a href="http://twitter.com/helloheroco">Follow us</a>, so we can forward you the name and email of the winner via Twitter direct message*.</li>
	<li>Please reply to that message with the <strong>name of the charity</strong> you’d like to donate to.</li>
	<li>And lastly, please get in touch with the winner within 20 days to schedule your one-hour, in-person meeting.</li>
	<li>Enjoy your meeting your new friend!</li>
</ol><br />

<small>
* A direct message (DM) is a private message sent via Twitter to one of your followers. <br />
You can only send a direct message to a user who is following you and only receive direct messages from users you follow.
</small>
