<h1>Congrats! Thank you for picking a winner.<h1>

<h2>Here are the steps to finalize the process:</h2>

<p>Follow us, so we can forward you the name and email of the winner via Twitter direct message*.</p>
<p>Please reply to that message with the name of the charity you’d like to donate to.</p>
<p>And lastly, please get in touch with the winner within 20 days to schedule your one-hour, in-person meeting.</p>
<p>Enjoy your meeting your new friend!</p>

<p>* Definition: A direct message (DM) is a private message sent via Twitter to one of your followers. You can only send a direct message to a user who is following you; you can only receive direct messages from users you follow.</p>
