<% content_for(:title, 'Claim a Hero Account') %>
<h1>So you're ready to pick a winner?<h1>

<p class="lead">Here are the steps to finalize the process:</h2>

<div id="search_container" class="row">
    <div class="span3">
      <a href="http://twitter.com/helloheroco" target="_blank">
      	<%= image_tag("dream-icon-step-1.png", :width => "80%") %>
      </a>
      <h3>Step 1</h3>
      <a href="http://twitter.com/helloheroco" target="_blank">Follow us</a>, so we can forward you the name and email of the winner via Twitter direct message*.
    </div>

    <div class="span3">
      <%= image_tag("dream-icon-step-2.png", :width => "80%") %>
      <h3>Step 2</h3>
      Please reply to that message with the <strong>name of the charity</strong> you’d like to donate to.
    </div>

    <div class="span3">
      <%= image_tag("dream-icon-step-3.png", :width => "80%") %>
      <h3>Step 3</h3>
      And lastly, please get in touch with the winner within 20 days to schedule your one-hour, in-person meeting.
    </div>

    <div class="span3">
      <%= image_tag("dream-icon-step-4.png", :width => "80%") %>
      <h3>Step 4</h3>
      Enjoy meeting your new friend!
    </div>
</div><br /><br /><br />

<small>
* A direct message (DM) is a private message sent via Twitter to one of your followers. <br />
You can only send a direct message to a user who is following you and only receive direct messages from users you follow.
</small>
