<% content_for(:title, 'Privacy') %>
<h1>Privacy Policy</h1>

<p>Hello Hero is committed to protecting your privacy.</p>

<p>This privacy policy describes the privacy practices for the Hello Hero (the "Site"), located at http://www.HelloHero.co).</p>

<p><strong>Information We Collect</strong><br />We may collect the following information when your register on or fill out a form on our site:
  <ol>
	<li>Full name</li>
	<li>E-mail address</li>
  </ol>
</p>


<p><strong>Collected Information Uses</strong><br />Any information provided by you is used to understand your needs and provide a better service. We may use your information for the following reasons:
  <ol>
	<li>To send periodic e-mails and to contact you for market research purposes</li>
	<li>To personalize your website experience according to your interests</li>
	<li>To improve our products or services based on your needs</li>
  </ol>
</p>

<p><strong>Collected Information Security</strong><br />In order to prevent any unauthorised access or disclosure of the personal information that we gather, we have in place electronic and managerial procedures to secure and guard these information.</p>

<p><strong>Usage of Cookies</strong><br />A cookie is a small file which asks permission to be placed on your computer hard drive. Cookies allows websites to respond to you as an individual.</p>

<p>You may choose to accept or decline cookies. Disabling cookies preferences may limit the full experience of our site.</p>

<p><strong>Links to Other Websites</strong><br />
<p>The Site may contain links to other websites of interest. We cannot be responsible for the protection and privacy of any information which you provide while visiting such sites; such sites are not governed by this privacy statement.</p>