// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#marquee { 
  text-align: center;
}

#carousel {
  margin-top: 45px;
}

#search_container {
  margin-top: 45px;
}
.tt-hint {
  width: 446px;
}

.twitter-typeahead input {
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.navbar .twitter-typeahead {
  bottom: 5px;
  margin-left: 20px;
  width: 400px;
}

.navbar .tt-hint,
.navbar .twitter-typeahead input {
  width: 400px;
}

#marquee .twitter-typeahead input {
  padding: 8px 12px;
  font-size: 20px;
  line-height: 36px;
}

.tt-dropdown-menu {
  width: 460px;
  text-align: left;
}

.tt-suggestion {
  border-top: 1px solid #CCCCCC;
  color: #333;
}

.tt-suggestion img {
  margin-top: 12px;
  border-radius: 5px;
}

.tt-suggestion div {
  height: 75px;
}

.tt-suggestion > .row {
  margin:0;
  padding:0;
  width: 440px;
}

.tt-suggestion .span1 {
  margin-left: 0;
}

.tt-suggestion .span5 {
  width: 360px;
  margin-left: 5px;
}

.screen_name {
  float: right;
  font-style: italic;
}

.real_name {
  font-weight: bold;
}

.img-rounded {
  height: 200px;
  width: 200px;
}

.span4 li {
  list-style: none;
}

.span4, .span8 {
	float: left
}

.span4 .hero {
	margin-top: 100px;
}

a.hero {
  text-decoration: none;
  color: #000;
}

.hero {
  width: 200px;
  height: 200px;
}

.hero form {
  position: absolute;
  display: block;
  height: 200px;
  width: 200px;
  z-index: 1;
}

.hero form input[type=submit] {
  width: 200px;
  display: none;
  margin-left: 50px;
  height: 0;
  border: none;
  display: block;
  -webkit-transition: height 0.3s ease;
  background: rgba(0,0,0, 0);
  text-shadow: 2px 2px 2px black;
  color: #FFF;
}

.hero form > input {
  display: none;
}

.hero form:hover input[type=submit] {
  background: rgba(0,0,0, .2);
  height: 50px;
}

.hero form input[type=submit]:hover {
  background: rgba(0,0,0, .2);
  height: 50px;
  font-size: 30px;
}
