// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#marquee { 
  text-align: center;
}

.tt-dropdown-menu {
  width: 460px;
  text-align: left;
}

.tt-suggestion {
  border-top: 1px solid #CCCCCC;
}

.tt-suggestion img {
  margin-top: 12px;
  border-radius: 5px;
}

.tt-suggestion div {
  height: 75px;
}

.tt-suggestion > .row {
  margin:0;
  padding:0;
  width: 440px;
}

.tt-suggestion .span1 {
  margin-left: 0;
}

.tt-suggestion .span5 {
  width: 360px;
  margin-left: 5px;
}

#search_bar {
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}

.screen_name {
  float: right;
  font-style: italic;
}

.real_name {
  font-weight: bold;
}

.img-rounded {
  height: 200px;
  width: 200px;
}

.span4 li {
  list-style: none;
}

.span4, .span8 {
	float: left
}

.span4 .hero {
	margin-top: 100px;
}

a.hero {
  text-decoration: none;
  color: #000;
}
