#main {
  margin-top: 40px;
  padding-top: 20px;
  background-image: url('/assets/background.gif');
}

hr {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #DDD;
}

.navbar-inner {
  color: #eee;
  background-color: #353535;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.navbar .nav>li>a {
  color: #ccc;
  text-shadow: 0 1px 0 #000;
}

.navbar .nav>li>a:focus,
.navbar .nav>li>a:hover {
  color: #fff;
  text-shadow: 0 1px 0 #000;
}

h2.pagination-centered {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  color: #f9c900;
  margin-bottom: 20px;
}

#footer {
  margin-top: 45px;
}

#footer > .nav-tabs > li, #footer > .nav-pills > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  zoom:1; /* hasLayout ie7 trigger */
}
